body {
  background-color: #0a1e3f;
  font-family: 'Outfit', sans-serif;
}

.narrow {
  max-width: 900px;
}

h1 img {
  width: 60px;
  vertical-align: middle;
}

.card-blue {
  background-color: #1c3d66;
}

.card-gold {
  background-color: #c9a227;
}

.card-red {
  background-color: #b3202c;
}

.bg-cream {
  background-color: #f4ead2;
}

@media (min-width: 992px) {
  .vertical-item {
    border-right: 1px solid #ccc;
  }

  .vertical-item:last-child {
    border-right: none;
  }
}
